openapi: 3.0.0
info:
  description: Swagger doc for Stargate
  title: stargate AOI Workflows API
  contact:
    name: Team-Identity
    email: identity@pixxel.co.in
  version: v0.1.0
servers:
- url: https://api.pixxel.space
tags:
- name: Workflows
paths:
  /v0/workflows:
    get:
      security:
      - ApiKeyAuth: []
      description: 'List workflows with pagination. Returns paginated results with limit (default: 50) and offset (default: 0) parameters. The response always includes pagination metadata with total count.'
      tags:
      - Workflows
      summary: List workflows
      operationId: listWorkflows
      parameters:
      - description: Unique identifier for the project containing the workflows
        name: project_id
        in: query
        schema:
          type: string
      - description: Filter by specific workflow ID
        name: id
        in: query
        schema:
          type: string
      - description: Filter workflows by display name
        name: name
        in: query
        schema:
          type: string
      - description: Filter workflows by creator's user id
        name: created_by
        in: query
        schema:
          type: string
      - description: Filter workflows by creation date
        name: created_on
        in: query
        schema:
          type: string
      - description: Filter workflows by last modification timestamp
        name: updated_at
        in: query
        schema:
          type: string
      - description: Offset for pagination
        name: offset
        in: query
        schema:
          type: integer
          default: 0
      - description: Limit for pagination
        name: limit
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dexter.ListWorkflowsTransformerResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorResponse'
      externalDocs:
        description: View developer guide to learn more
        url: /developer/workflows/list-workflow
  /v0/workflows/{workflow_id}:
    get:
      security:
      - ApiKeyAuth: []
      description: Get workflows by a ID
      tags:
      - Workflows
      summary: Get Workflows By Id
      operationId: getWorkflowsById
      parameters:
      - description: Unique UUID identifier for the target workflow
        name: workflow_id
        in: path
        required: true
        schema:
          type: string
      - description: Project identifier that the workflow belongs to
        name: project_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dexter.GetWorkflowsByIdTransformerResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorResponse'
      externalDocs:
        description: View developer guide to learn more
        url: /developer/workflows/get-workflow
  /v0/workflows/{workflow_id}/estimate:
    get:
      security:
      - ApiKeyAuth: []
      description: Get Workflow Cost estimate
      tags:
      - Workflows
      summary: Get Workflow Cost estimate
      operationId: getWorkflowCostEstimate
      parameters:
      - description: Unique ID of the workflow to estimate cost for
        name: workflow_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dexter.GetWorkflowCostEstimateTransformerResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorResponse'
      externalDocs:
        description: View developer guide to learn more
        url: /developer/workflows/workflow-cost-estimate
components:
  schemas:
    common.Error:
      type: object
      properties:
        code:
          type: string
        details: {}
        message:
          type: string
    dexter.GetWorkflowsByIdTransformerResponse:
      type: object
      properties:
        id:
          description: Unique identifier for the workflow
          type: string
          x-order: '10'
        estimated_cost:
          description: Token cost estimated for this workflow
          type: integer
          x-order: '100'
        name:
          description: Display name of the workflow
          type: string
          x-order: '20'
        created_by:
          description: Identifies the user who created this workflow
          type: string
          x-order: '30'
        description:
          description: Provides details about the workflow's purpose
          type: string
          x-order: '40'
        spec:
          description: Contains the raw specification data for the workflow
          type: array
          items:
            type: integer
          x-order: '50'
        created_at:
          description: Timestamp when the workflow was created
          type: string
          x-order: '60'
        updated_at:
          description: Timestamp when the workflow was last modified
          type: string
          x-order: '70'
        val_errors:
          description: Validation errors encountered with this workflow
          type: array
          items:
            $ref: '#/components/schemas/dexter.ValError'
          x-order: '80'
        project_id:
          description: Identifier of the project this workflow belongs to
          type: string
          x-order: '90'
    common.Pagination:
      type: object
      properties:
        limit:
          type: integer
          x-order: '10037'
          example: 10
        offset:
          type: integer
          x-order: '10038'
          example: 0
        total:
          type: integer
          x-order: '10039'
          example: 100
    dexter.GetWorkflowCostEstimateTransformerResponse:
      type: object
      properties:
        estimated_cost:
          description: The calculated cost of running the workflow, in credits
          type: integer
          x-order: '10'
    dexter.ListWorkflowItem:
      type: object
      properties:
        id:
          description: Unique identifier for the workflow
          type: string
          x-order: '10'
        project_id:
          description: Identifier of the project this workflow belongs to
          type: string
          x-order: '20'
        legacy_project_id:
          description: Identifier of the project in legacy systems
          type: string
          x-order: '30'
        name:
          description: Display name of the workflow
          type: string
          x-order: '40'
        created_by:
          description: Represents the user who created this workflow
          type: string
          x-order: '50'
        description:
          description: Provides additional details about the workflow
          type: string
          x-order: '60'
        created_at:
          description: Timestamp when the workflow was created
          type: string
          x-order: '70'
        updated_at:
          description: Timestamp when the workflow was last modified
          type: string
          x-order: '80'
    common.ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/common.Error'
    dexter.ListWorkflowsTransformerResponse:
      type: object
      properties:
        workflows:
          type: array
          items:
            $ref: '#/components/schemas/dexter.ListWorkflowItem'
          x-order: '10'
        pagination:
          allOf:
          - $ref: '#/components/schemas/common.Pagination'
          x-order: '20'
    dexter.ValError:
      type: object
      properties:
        from:
          description: Source component of the validation error
          type: string
          x-order: '10'
        to:
          description: Target component of the validation error
          type: string
          x-order: '20'
        err:
          description: Error message
          type: string
          x-order: '30'
        reason:
          description: Additional context about why the error occurred
          type: string
          x-order: '40'
        component_name:
          description: Specific component that generated the error
          type: string
          x-order: '50'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
